$positiveAction: #2baabd;
$positiveActionHover: #1c707d;
$pictureUploadBtn: #e67300;
$pictureUploadHover: #994d00;
$navbarColor: #363636;
$deleteColor: red;
$deleteColorHover: #b30000;
$frontendBackground: #222233;
$frontendText: #bbddff;
$commentBackground: rgba(201, 87, 0, 0.4);
$footerBackground: #1a9915;
$frontendNavBackground: #eba610;
