$positiveAction: #2baabd;
$positiveActionHover: #1c707d;
$pictureUploadBtn: #e67300;
$pictureUploadHover: #994d00;
$navbarColor: #363636;
$deleteColor: red;
$deleteColorHover: #b30000;
$frontendBackground: #222233;
$frontendText: #bbddff;
$commentBackground: rgba(201, 87, 0, 0.4);
$footerBackground: rgba(26, 153, 21, 0.4);
$frontendNavBackground: #eba610;
$nonContentText: #ddd;
$signUpButton: #88b500;
$signUpButtonHover: #5a7800;
