.admin__nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 150px;
  background: blue;
  padding: 0 1rem;
  z-index: 2;

  &--list {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  &--item {
    list-style: none;

    &-link {
      text-decoration: none;
      color: white;
    }
  }
}
