.container {
  width: 90%;
  height: auto;
  margin: 0 auto;

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    margin-top: 4rem;
    row-gap: 2rem;
  }
}

.admin__container {
  width: 100vw;
  margin-left: 150px;
  background: green;
  min-height: 100vh;
  position: relative;
}
