.nav {
  width: 90%;
  margin: 0 auto;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    $frontendNavBackground -400%,
    $frontendBackground
  );
  border-radius: 200px;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    &--item {
      list-style: none;
    }

    &--link {
      text-decoration: none;
      color: white;

      &.gen-btn {
        background: $positiveAction;

        &:hover {
          background: $positiveActionHover;
        }
      }
    }
  }
}

@include phone {
  .nav {
    width: 100%;
  }
}
